{{outlet}}



<!-- <button {{action 'getTrend' country.woeid}}>Top Trend</button>
<ul>
  {{#each trends as |trend|}}
    <li class="list-group-item list-group-item-danger">
      {{trend.name}} | {{trend.tweet_volume}}
    </li>
  {{/each}}
</ul> -->
